/* TO-DO */
*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: rgb(45, 60, 78);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header{
    /* background-color: rgb(53,63,78); */
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    font-size: 1.5rem;
}

.searchBar{
    background-color: rgb(50, 70, 95);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.searchBar select,input{
    border-radius: 5px;
    border-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-height: 20px;
    padding: 10px;
    font-size: 1rem;
}

.card-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    min-height: 80vh;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    background-position: center;
    background-size: cover;
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img{
    width: 80%;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
    margin: auto;
    margin-top: 1rem;
}

.details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.movie-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.release-date{
    font-size: 1rem;
    margin: 0;
    line-height: 0.9;
}

.movie-rating{
    line-height: 0.9;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: rgb(245, 245, 245);
    margin-top: -1rem;
    padding-top: 1rem;
}

.nav p{
    font-size: 1.2rem;
}

.nav button{
    background-color: rgb(40,126,183);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border: none;
    font-size: 1rem;
}

.nav button:disabled{
    background-color: #999;
    cursor: not-allowed;
}